* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Story Script", sans-serif;
    background: burlywood;
    color: #ffffff;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    min-height: 100vh;
    width: 100%;
    padding: 80px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 10%;
    max-width: 20%;
    flex: 1;

}

.task {
    border: 5px solid chartreuse;
    flex: 1;
    max-height: 30%;

    width: 100%;
}

.button {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.button h1 {
    background-color: #ad05fc;
}

.button p {
    background-color: red;
}

.members {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 30px;
}

.social-icon {
    width: 30px;
    /* small size */
    height: 30px;
}

.task.completed .task-title {
    text-decoration: line-through;
    opacity: 0.6;
}