
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: "Story Script", sans-serif;
        background: linear-gradient(90deg, #ff0000, #0000ff);
        color: #ffffff;

      }